@model CreateDepartmentVM

@{
    ViewData["Title"] = SharedLocalizer["Create New Department"];
}

<div class="row">
    <div class="col-md-6">

        <div class="card shadow-sm">

            <div class="card-header bg-primary text-white">
                <h3 class="card-title">@SharedLocalizer["Create New Department"]</h3>
            </div>

            <div class="card-body">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="form-label">@SharedLocalizer["Name"]</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Area" class="form-label">@SharedLocalizer["Location"]</label>
                        <input asp-for="Area" class="form-control" />
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CreatedBy" class="form-label">@SharedLocalizer["Created By"]</label>
                        <input asp-for="CreatedBy" class="form-control" />
                        <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input type="submit" value=@SharedLocalizer["Create"] class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-outline-secondary">@SharedLocalizer["Back"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}