@model GetDepartmentVM

@{
    ViewData["Title"] = "Department Details";
}

<h2>Details for @Model.Name Department</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-4">ID:</dt>
            <dd class="col-sm-8">@Model.Id</dd>

            <dt class="col-sm-4">Name:</dt>
            <dd class="col-sm-8">@Model.Name</dd>

            <dt class="col-sm-4">Area:</dt>
            <dd class="col-sm-8">@Model.Area</dd>

            <dt class="col-sm-4">Employee Count:</dt>
            <dd class="col-sm-8">@Model.EmployeeCount</dd>
        </dl>
    </div>
</div>


<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>